<style type="text/css">



.dropbtn {
	background-color: #8a73ff;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	box-shadow: 2px 2px white;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffc573;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px white;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 10px 14px;
	text-decoration: none;
	font-size: 16px;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ff7f73;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #8a73ff;
}

body {
	background-color: #ff7f73;
}

.container {
	background-color: #ffc573;
}

input {
	width: 450px;
	height: 30px;
	margin-bottom: 20px;
	background-color: #8a73ff;
	border-style: none;
	color: white;
	padding: 10px;
}

::placeholder {
	color: white;
}

#project::placeholder {
	font-size: 18px;
}

.box {
	background-color: #ffc573;
	position: relative;
	width: 600px;
	height: 800px;
	margin: auto;
	text-align: center;
	box-shadow: 15px 15px 15px #8a73ff;
	padding: 10px;
}

h3 {
	text-align: center;
	color: white;;
}

h4 {
	text-align: center;
	color: white;;
}

p {
	text-align: center;
	color: white;;
}

.addrecbutt {
	width: 120px;
	height: 50px;
	font-family: verdana;
	font-color: white;
	font-size: 18px;
	color: #8a73ff;
	box-shadow: 5px 5px 5px #ff7f73
}
</style>
<h1 style= "font-family:verdana; color: white; text-shadow: 2px 2px #8a73ff"> Dollar Store Spoon University
      <div class="dropdown">

         <button class="dropbtn" style="font-family: verdana">Menu</button>
          <div class="dropdown-content">
            <a href="http://localhost:8080/SayaliCaseStudy/addrecipe">Add Recipe</a>
             <a href="http://localhost:8080/SayaliCaseStudy/showuserrecipe">User Recipes</a>
            <a href="http://localhost:8080/SayaliCaseStudy/recipe">Recipes</a>
            <a href="http://localhost:8080/SayaliCaseStudy/logout">Logout</a>
            <a href="http://localhost:8080/SayaliCaseStudy/basics">Cooking Basics</a>
        </div>
    </div>
</h1>
